<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <h1>Enter security code</h1>
            <form id="otp-form" class="form" method="POST">
                <p>Your code is sent to: <span id="email"></span></p>
                <span>
                    <label>Enter code</label>
                    <input type="text" name="resetCode" required>
                    <p id="message"></p>
                </span>
                <input id="resendBtn" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <script src="js/otp.js"></script>

</body>

</html>