<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <h1>Reset Password</h1>
            <form id="reset-password-form" class="form" method="POST">
                <span>
                    <label>Enter new password</label>
                    <input type="password" name="newpassword" required>
                </span>
                <span>
                    <label>Re-enter new password</label>
                    <input type="password" name="confirmNewPassword" required>
                    <p id="message"></p>    
                </span>
                <input type="submit" value="Reset">
            </form>
        </div>
    </div>

    <script src="js/resetPassword.js"></script>

</body>

</html>