<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="signup-box">
            <h1>Sign Up</h1>
            <h4>It's free and only takes a minute</h4>
            <form id="signup-form" class="form" method="POST">

                <span>
                    <label>Username</label>
                    <input type="text" name="username" required>
                </span>
                <span>
                    <label>Email</label>
                    <input type="email" name="email" required>
                </span>
                <span>
                    <label>Password</label>
                    <input type="password" name="password" required>
                </span>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <p class="para-2">Already have an account? <a href="/login">Login here</a></p>

    <script src="js/signup.js"></script>
</body>

</html>